* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: lightblue;
}

caption {
    caption-side: middle;
    margin-left: 64%;
}

td {
    padding: 1%;
}

img {
    margin-left: 20%;
    height: 125px;
    width: 125px;
}

h2 {
    text-align: center;
}

div {
    background-color: white;
    padding-left: 1%;
    padding-bottom: 1%;
}

.question {
    background-color: lightblue;
    text-align: center;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 4px black;
}

input {
    border: none;
    width: 95%;
}
